USE [master]
GO
/****** Object:  Database [Azienda]    Script Date: 27/02/2025 16:54:49 ******/
CREATE DATABASE [Azienda]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Azienda', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Azienda.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Azienda_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Azienda_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Azienda].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Azienda]
GO
/****** Object:  Table [dbo].[IMPIEGATO]    Script Date: 27/02/2025 16:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMPIEGATO](
	[IDImpiegato] [int] IDENTITY(1,1) NOT NULL,
	[Cognome] [varchar](50) NULL,
	[Nome] [varchar](50) NULL,
	[CodiceFiscale] [varchar](16) NULL,
	[Eta] [int] NULL,
	[RedditoMensile] [decimal](10, 2) NULL,
	[DetrazioneFiscale] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDImpiegato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[CodiceFiscale] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IMPIEGO]    Script Date: 27/02/2025 16:54:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMPIEGO](
	[IDImpiego] [int] IDENTITY(1,1) NOT NULL,
	[IDImpiegato] [int] NULL,
	[TipoImpiego] [varchar](50) NULL,
	[Assunzione] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IDImpiego] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[IMPIEGO]  WITH CHECK ADD FOREIGN KEY([IDImpiegato])
REFERENCES [dbo].[IMPIEGATO] ([IDImpiegato])
ON DELETE CASCADE
GO
USE [master]
GO
